<form
  #taskForm="ngForm"
  (ngSubmit)="insertTask(taskForm)" >
  <label *ngFor="let column of columns">
    <span>{{column.name}}</span>
    <input *ngIf="types[column.type] != 'select'" [type]="types[column.type]"  [name]="column.id" [value]="column.value" [required]="column.required == '1'" ngModel>
    <select *ngIf="types[column.type] == 'select'" [name]="column.id" [value]="column.value" ngModel>
      <option *ngFor="let option of column.options" [value]="option.id">{{option.name}}</option>
    </select>
  </label>
  <input type="submit" [disabled]="!taskForm.form.valid">
</form>
