/* You can add global styles to this file, and also import other style files */
html,
body {
  min-height: 100%;
}

html{
  position: relative;
}

body {
  //position: static;
  //display: flex;
  //align-items: center;
  padding-top: 75px;
  padding-bottom: 60px;
  background-color: #f5f5f5;
  //margin-bottom: 60px; /* Margin bottom by footer height */
}
